<div class="box bg-lightgrey">
  <div class="container-flex">
    <div class="col-flex-xs-12 col-flex-sm-12 col-flex-md-12 col-flex-lg-12">
      <div class="step-form-counter bg-lightgrey">
        <div class="step-container">
          <div class="step 1" onclick="window.location='nav1'">
            <div class="step-number">
              <span class="number">1</span>
              <div class="tick"></div>
            </div>
            <span class="step-title">Escaparate</span>
          </div>
          <div class="step 2" onclick="window.location='nav2'">
            <div class="step-number">
              <span class="number">2</span>
              <div class="tick"></div>
            </div>
            <span class="step-title">Datos personales</span>
          </div>
          <div class="step 3" onclick="window.location='nav3'">
            <div class="step-number">
              <span class="number">3</span>
              <div class="tick"></div>
            </div>
            <span class="step-title">Datos envío y pago</span>
          </div>
          <div class="step 4" onclick="window.location='nav4'">
            <div class="step-number">
              <span class="number">4</span>
              <div class="tick"></div>
            </div>
            <span class="step-title">Resumen pedido</span>
          </div>
        </div>
        <div class="step-progress">
          <div class="progress"></div>
        </div>
      </div>
    </div>
  </div>
</div>
