<div class="cart-desktop-fixed-item-product-addon-framed" id="templ_id">
  <div class="cart-desktop-fixed-item-product-addon-framed-item">
    <h3 class="cart-desktop-fixed-item-product-addon-framed-title" id="templ_name"></h3>
    <dl class="cart-desktop-fixed-item-product-addon-framed-list">
      <dt class="cart-desktop-fixed-item-product-addon-framed-list-term">Importe</dt>
      <dd class="cart-desktop-fixed-item-product-addon-framed-list-description" data-promoted="yes" id="templ_price"></dd>
      <dt class="cart-desktop-fixed-item-product-addon-framed-list-term">Entrega</dt>
      <dd class="cart-desktop-fixed-item-product-addon-framed-list-description">4 días</dd>
    </dl>
    <div class="cart-desktop-fixed-item-product-addon-framed-btn-group">
      <button type="button" id="templ_delete" name="buttonDeleteItem" onclick="deleteBasket(this.id)" class="cart-desktop-fixed-item-product-addon-framed-btn" title="Eliminar producto">
        <span class="hide-text">Eliminar producto</span>
        <svg width="14" height="18" class="cart-desktop-fixed-item-product-btn-icon" viewbox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M11.7074 1.52622H9.16233V1.01804C9.16233 0.455791 8.70654 0 8.14429 0H5.09018C4.52794 0 4.07215 0.455791 4.07215 1.01804V1.52622H1.52706C0.683686 1.52622 0 2.20991 0 3.05327V4.07215H13.2345V3.05327C13.2345 2.20991 12.5508 1.52622 11.7074 1.52622ZM5.09058 1.01774H8.14469V1.52592H5.09058V1.01774ZM1.01774 4.58171V17.308H12.2161V4.58171H1.01774ZM4.07126 6.61629V15.2669V15.2669C4.07126 15.2678 4.07126 15.2687 4.07126 15.2696C4.07126 15.5507 3.84336 15.7786 3.56224 15.7786C3.28112 15.7786 3.05322 15.5507 3.05322 15.2696C3.05322 15.2687 3.05322 15.2678 3.05322 15.2669V15.2669V6.61629V6.61629C3.05322 6.61601 3.05322 6.61574 3.05322 6.61546C3.05322 6.33434 3.28112 6.10644 3.56224 6.10644C3.84336 6.10644 4.07126 6.33434 4.07126 6.61546C4.07126 6.61574 4.07126 6.61601 4.07126 6.61629V6.61629ZM7.12823 6.61629V15.2668V15.2668C7.12823 15.2678 7.12823 15.2687 7.12823 15.2696C7.12823 15.5507 6.90034 15.7786 6.61922 15.7786C6.33809 15.7786 6.1102 15.5507 6.1102 15.2696C6.1102 15.2687 6.1102 15.2678 6.1102 15.2668V15.2668V6.61629V6.61629C6.1102 6.61601 6.1102 6.61572 6.1102 6.61546C6.1102 6.33434 6.33809 6.10644 6.61922 6.10644C6.90034 6.10644 7.12823 6.33434 7.12823 6.61546C7.12823 6.61572 7.12823 6.61601 7.12823 6.61629V6.61629ZM10.1796 6.61629V15.2669V15.2669C10.1796 15.2678 10.1796 15.2687 10.1796 15.2696C10.1796 15.5507 9.95168 15.7786 9.67056 15.7786C9.38944 15.7786 9.16154 15.5507 9.16154 15.2696C9.16154 15.2687 9.16154 15.2678 9.16154 15.2669V15.2669V6.61629V6.61629C9.16154 6.61601 9.16154 6.61574 9.16154 6.61546C9.16154 6.33434 9.38944 6.10644 9.67056 6.10644C9.95168 6.10644 10.1796 6.33434 10.1796 6.61546C10.1796 6.61574 10.1796 6.61601 10.1796 6.61629V6.61629Z"></path>
        </svg>
      </button>
    </div>
  </div>
</div>
